Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

publish:npm:
  artifacts:
    paths:
    - build/docs
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  - git config user.name "$GITLAB_CI_NAME"
  ...

test:molecule:e2e:linux:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:windows:
  stage: test
  tags:
  - shared-windows
  - windows
  - windows-1809
  allow_failure: true
  variables:
    GIT_DEPTH: 1
  script:
  - set -eo pipefail

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    OPTIMIZED_IMAGE: 'false'
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

Update roles/misc/qubes/tasks/theme.yml
  roles/misc/qubes/tasks/theme.yml
Due: none

Update roles/misc/qubes/tasks/theme.yml, roles/misc/qubes/tasks/grub.yml, roles/system/theme/tasks/kde/sddm.yml, roles/system/theme/tasks/misc/grub.yml
  roles/misc/qubes/tasks/grub.yml
  roles/misc/qubes/tasks/theme.yml
  roles/system/theme/tasks/kde/sddm.yml
  roles/system/theme/tasks/misc/grub.yml
Due: none

Update roles/misc/qubes/tasks/gsetting.yml
  roles/misc/qubes/tasks/gsetting.yml
Due: none

Update playbooks/qubes.yml
  playbooks/qubes.yml
Due: none

Update roles/misc/qubes/tasks/plymouth.yml
  roles/misc/qubes/tasks/plymouth.yml
Due: none

Update ansible.cfg
  ansible.cfg
Due: test:molecule:darwin

Update ansible.cfg, files
  ansible.cfg
  files
Due: test:molecule:darwin

Comment asdf tools moved to dotfiles
  roles/languages/asdf/defaults/main.yml
Due: none

Tabby enhancements
  roles/applications/tabby/defaults/main.yml
  roles/applications/tabby/tasks/install-Archlinux.yml
  roles/applications/tabby/tasks/install-Darwin.yml
  roles/applications/tabby/tasks/install-Debian.yml
  roles/applications/tabby/tasks/install-RedHat.yml
  roles/applications/tabby/tasks/install-Windows.yml
  roles/applications/tabby/tasks/main.yml
  roles/applications/tabby/tasks/user-Linux.yml
  roles/applications/tabby/tasks/user-Windows.yml
  roles/applications/tabby/templates/config.yaml.j2
  roles/applications/tabby/templates/package.json.j2
Due: none

Update appimaged installation method, usage location
  roles/system/desktop/tasks/appimages-Linux.yml
  roles/system/desktop/tasks/setup-Linux.yml
  roles/system/desktop/tasks/user-Linux.yml
Due: none

Update roles/system/homebrew/tasks/continue.yml
  roles/system/homebrew/tasks/continue.yml
Due: none

Update roles/system/homebrew/tasks/main.yml, ansible.cfg
  ansible.cfg
  roles/system/homebrew/tasks/main.yml
Due: test:molecule:darwin

Update roles/system/homebrew/tasks/main.yml, roles/system/homebrew/defaults/main.yml
  roles/system/homebrew/defaults/main.yml
  roles/system/homebrew/tasks/main.yml
Due: none

Update roles/virtualization/docker/tasks/install-Darwin.yml, roles/services/elasticagent/tasks/install-Linux.yml, roles/tools/mas/meta/main.yml
  roles/services/elasticagent/tasks/install-Linux.yml
  roles/tools/mas/meta/main.yml
  roles/virtualization/docker/tasks/install-Darwin.yml
Due: none

Update roles/tools/yubikey/tasks/manager-qt.yml
  roles/tools/yubikey/tasks/manager-qt.yml
Due: none

Update roles/services/elasticagent/tasks/main.yml
  roles/services/elasticagent/tasks/main.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/husky/commit-msg
  .config/husky/post-checkout
  .config/husky/post-commit
  .config/husky/post-merge
  .config/husky/post-rewrite
  .config/husky/pre-commit
  .config/husky/pre-push
  .config/husky/prepare-commit-msg
  README.md
  Taskfile.yml
  ansible.cfg
  collections/ansible-utils-2.8.0.tar.gz
  collections/community-crypto-2.9.0.tar.gz
  collections/community-general-6.1.0.tar.gz
  collections/freeipa-ansible_freeipa-1.9.0.tar.gz
  collections/requirements.yml
  package.json
  playbooks/qubes.yml
  scripts/quickstart.ps1
Due: publish:npm, test:molecule:darwin

Fix Homebrew sudo_password bug
  roles/applications/appium/tasks/install-Darwin.yml
  roles/applications/microsoftedge/tasks/install-Darwin.yml
  roles/deprecated/fuse/tasks/install-Darwin.yml
  roles/deprecated/homebrew/defaults/main.yml
  roles/deprecated/homebrew/tasks/main.yml
  roles/deprecated/nextcloud/tasks/install-Darwin.yml
  roles/deprecated/raspberryimager/tasks/install-Darwin.yml
  roles/deprecated/teams/tasks/install-Darwin.yml
  roles/deprecated/wireshark/tasks/install-Darwin.yml
  roles/deprecated/zoom/tasks/install-Darwin.yml
  roles/services/tailscale/tasks/install-Darwin.yml
  roles/system/santa/tasks/install-Darwin.yml
  roles/system/warp/tasks/install-Darwin.yml
  roles/virtualization/vagrant/tasks/install-Darwin.yml
  roles/virtualization/virtualbox/tasks/install-Darwin.yml
  roles/virtualization/vmware/tasks/install-Darwin.yml
Due: none

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml
