Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/log
  pnpm-lock.yaml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  pnpm-lock.yaml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/prompts/shell.js
  .config/scripts/semantic/prepare.sh
  .config/scripts/semantic/verify.sh
  .config/taskfiles/common/Taskfile.yml
Due: none

Latest
  Vagrantfile
  environments/dev/inventories/vagrant.yml
Due: none

🧹 chore: fixed Vagrantfile for Windows
  Vagrantfile
Due: none

🧹 chore(latest): latest
  Vagrantfile
  environments/dev/inventories/vagrant.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/start.sh
  .config/scripts/start.sh
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/yamllint.yml
  .gitlab/ci/scripts/update-init.sh
  start.sh
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/start.sh
  .config/scripts/start.sh
  .config/taskfiles/publish/Taskfile-snap.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  start.sh
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-software.yml
  poetry.lock
  start.sh
Due: test:molecule:darwin

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .github/ISSUE_TEMPLATE/config.yml.liquid
  .gitlab/ci/scripts/update-init.sh
  Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/git/Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/log/Taskfile.yml
  Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/scripts/start.sh
  .config/taskfiles/log/Taskfile.yml
  start.sh
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  poetry.lock
  pyproject.toml
Due: test:molecule:darwin

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/taskfiles/install/Taskfile-go.yml
  .config/taskfiles/publish/Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/publish/Taskfile.yml
  Taskfile.yml
  pyproject.toml
Due: test:molecule:darwin

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/log/Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/taskfiles/publish/Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/requirements.txt
  .config/taskfiles/install/Taskfile-python.yml
  poetry.lock
Due: test:molecule:darwin

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/publish/Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  docs/CODEOWNERS
  poetry.lock
Due: test:molecule:darwin

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/ci/Taskfile.yml
  .config/taskfiles/go/Taskfile-goreleaser.yml
  .config/taskfiles/publish/Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/publish/Taskfile-snap.yml
  poetry.lock
Due: test:molecule:darwin

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/variables.json
  .config/variables.json
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/publish/Taskfile.yml
Due: none

Update package.json
  package.json
Due: publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-go.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/publish/Taskfile.yml
  .config/taskfiles/upstream/Taskfile-common.yml
  .gitlab-ci.yml
  Taskfile.yml
  package.json
  pnpm-lock.yaml
Due: publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/go/Taskfile-goreleaser.yml
  package.json
  pnpm-lock.yaml
Due: publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/log
  .config/taskfiles/ansible/Taskfile-test.yml
  pnpm-lock.yaml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/common/Taskfile.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  package.json
Due: publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-python.yml
  pnpm-lock.yaml
Due: none
