Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

publish:npm:
  artifacts:
    paths:
    - build/docs
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  - git config user.name "$GITLAB_CI_NAME"
  ...

test:molecule:e2e:linux:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:windows:
  stage: test
  tags:
  - shared-windows
  - windows
  - windows-1809
  allow_failure: true
  variables:
    GIT_DEPTH: 1
  script:
  - set -eo pipefail

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    OPTIMIZED_IMAGE: 'false'
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

Update package.json
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-test.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  Taskfile.yml
  ansible.cfg
  lib/callback_plugins/sentry.py
  package.json
  pyproject.toml
Due: publish:npm, test:molecule:darwin

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-python.yml
  README.md
  Taskfile.yml
  lib/callback/sentry.py
  package.json
Due: publish:npm

Update lib/callback/sentry.py, roles/system/connect/tasks/main.yml Deleted lib/callback_plugins/sentry.py
  lib/callback/sentry.py
  lib/callback_plugins/sentry.py
  roles/system/connect/tasks/main.yml
Due: none

Latest
  pyproject.toml
Due: test:molecule:darwin

Update roles/system/theme/tasks/misc/grub.yml, roles/system/theme/files/31_hold_shift, roles/system/theme/defaults/main.yml
  roles/system/theme/defaults/main.yml
  roles/system/theme/files/31_hold_shift
  roles/system/theme/tasks/misc/grub.yml
Due: none

Update roles/misc/qubes/tasks/update.yml
  roles/misc/qubes/tasks/update.yml
Due: none

Update lib/callback/sentry.py
  lib/callback/sentry.py
Due: none

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml
