Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml

☁️ chore(automation): Applying changes from upstream repository.
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

Update tasks/qubes/vm-template-base.yml, tasks/qubes/vm-common.yml, environments/prod/group_vars/qubes/roles.yml, environments/prod/group_vars/qubes/software.yml
  environments/prod/group_vars/qubes/roles.yml
  environments/prod/group_vars/qubes/software.yml
  tasks/qubes/vm-common.yml
  tasks/qubes/vm-template-base.yml
Due: none

Update environments/prod/group_vars/qubes/software.yml
  environments/prod/group_vars/qubes/software.yml
Due: none

Update tasks/qubes/vm-template-base.yml
  tasks/qubes/vm-template-base.yml
Due: none

Update roles/misc/qubes/defaults/main.yml
  roles/misc/qubes/defaults/main.yml
Due: none

Update scripts/quickstart.sh
  scripts/quickstart.sh
Due: none

Update main.yml
  main.yml
Due: test:molecule:e2e:linux, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

Update scripts/qubes.sh
  scripts/qubes.sh
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  README.md
  Taskfile.yml
  environments/prod/group_vars/qubes/roles.yml
  package.json
  scripts/quickstart.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

Update lib/callback/sentry.py
  lib/callback/sentry.py
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  README.md
  Taskfile.yml
  lib/callback/sentry.py
  package.json
Due: publish:npm

Update environments/prod/inventories/quickstart.yml
  environments/prod/inventories/quickstart.yml
Due: none

Update roles/misc/qubes/tasks/theme.yml
  roles/misc/qubes/tasks/theme.yml
Due: none

Update tasks/qubes/vm-template-stock.yml
  tasks/qubes/vm-template-stock.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  Taskfile.yml
  lib/callback/sentry.py
  package.json
  pyproject.toml
Due: publish:npm, test:molecule:darwin

Update playbooks/qubes.yml, environments/prod/inventories/quickstart.yml
  environments/prod/inventories/quickstart.yml
  playbooks/qubes.yml
Due: none

Update roles/deprecated/delta/tasks/install-Linux.yml, main.yml
  main.yml
Due: test:molecule:e2e:linux, test:molecule:windows

Update roles/tools/yubikey/tasks/authenticator.yml
  roles/tools/yubikey/tasks/authenticator.yml
Due: none

Update playbooks/qubes.yml
  playbooks/qubes.yml
Due: none
