Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

publish:npm:
  artifacts:
    paths:
    - build/docs
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  - git config user.name "$GITLAB_CI_NAME"
  ...

test:molecule:e2e:linux:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:windows:
  stage: test
  tags:
  - shared-windows
  - windows
  - windows-1809
  allow_failure: true
  variables:
    GIT_DEPTH: 1
  script:
  - set -eo pipefail

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    OPTIMIZED_IMAGE: 'false'
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

Update file defaults.yml
  environments/prod/group_vars/all/defaults.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/git/Taskfile-hook.yml
  .config/taskfiles/git/Taskfile.yml
  Taskfile.yml
  start.sh
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  README.md
  Taskfile.yml
  ansible.cfg
  collections/ansible-netcommon-5.0.0.tar.gz
  collections/ansible-posix-1.5.1.tar.gz
  collections/ansible-utils-2.9.0.tar.gz
  collections/ansible-windows-1.13.0.tar.gz
  collections/chocolatey-chocolatey-1.4.0.tar.gz
  collections/community-crypto-2.11.0.tar.gz
  collections/community-digitalocean-1.23.0.tar.gz
  collections/community-general-6.4.0.tar.gz
  collections/community-windows-1.12.0.tar.gz
  collections/freeipa-ansible_freeipa-1.9.2.tar.gz
  collections/requirements.yml
  package.json
Due: publish:npm, test:molecule:darwin

☁️ chore(automation): Applying changes from upstream repository.
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/docs/readme-playbook/subheader.md
  .config/docs/readme-role/subheader.md
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/docs/readme-playbook/quick-description.md
  .config/docs/readme-role/quick-description.md
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/docs/variables.json
  .config/variables.json
  Taskfile.yml
  package.json
Due: publish:npm

Add files via upload
  local/cyclonedx-npm-npm.vex.json
Due: none

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml
