Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile-ventoy.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  local/package-lock.json
  package.json
  pnpm-lock.yaml
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/security/Taskfile-ssh.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  local/package-lock.json
  local/yarn.lock
  package.json
  pnpm-lock.yaml
Due: publish:npm

Update roles/system/ssh/templates/config.j2, roles/system/ssh/vars/main.yml, environments/prod/group_vars/all/general.yml
  environments/prod/group_vars/all/general.yml
  roles/system/ssh/templates/config.j2
  roles/system/ssh/vars/main.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  package.json
  start.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-populate.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile-code.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/docker/Taskfile-build.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/image/Taskfile.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile-markdown.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/nest/Taskfile.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .config/taskfiles/web/Taskfile-ionic.yml
  .config/taskfiles/web/Taskfile-profile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-populate.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-npm.yml
Due: none

Latest
  environments/prod/group_vars/desktop/vars.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-software.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
Due: none

Added not about Fusion key configuration
  roles/virtualization/vmware/tasks/install-Darwin.yml
  roles/virtualization/vmware/tasks/main.yml
Due: none

Latest
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_green
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_green.pub
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_green_alt
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_green_alt.pub
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_green_notouch
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_green_notouch.pub
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_yellow
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_yellow.pub
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_yellow_alt
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_yellow_alt.pub
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_yellow_notouch
  environments/prod/files/ssh/id_ecdsa_sk_onlykey_yellow_notouch.pub
  environments/prod/files/ssh/id_ed25519_sk_26
  environments/prod/files/ssh/id_ed25519_sk_26.pub
  environments/prod/files/ssh/id_ed25519_sk_27
  environments/prod/files/ssh/id_ed25519_sk_27.pub
  environments/prod/files/ssh/id_ed25519_sk_52
  environments/prod/files/ssh/id_ed25519_sk_52.pub
  environments/prod/files/ssh/id_ed25519_sk_yubi_nano
  environments/prod/files/ssh/id_ed25519_sk_yubi_nano.pub
  environments/prod/files/ssh/id_ed25519_sk_yubi_nano_notouch
  environments/prod/files/ssh/id_ed25519_sk_yubi_nano_notouch.pub
  environments/prod/files/ssh/id_ed25519_sk_yubi_nanoc
  environments/prod/files/ssh/id_ed25519_sk_yubi_nanoc.pub
  environments/prod/files/ssh/id_ed25519_sk_yubi_nanoc_notouch
  environments/prod/files/ssh/id_ed25519_sk_yubi_nanoc_notouch.pub
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_green
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_green.pub
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_green_notouch
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_green_notouch.pub
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_red
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_red.pub
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_red_notouch
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_red_notouch.pub
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_yellow
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_yellow.pub
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_yellow_notouch
  environments/prod/files/ssh/id_ed25519_sk_yubi_nfc_yellow_notouch.pub
  environments/prod/files/ssh/id_rsa
  environments/prod/files/ssh/id_rsa.pub
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/git/Taskfile-github.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/install/Taskfile-software.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile-github.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  local/package-lock.json
  local/yarn.lock
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: publish:npm, test:molecule:darwin

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/fix/Taskfile.yml
  .config/taskfiles/git/Taskfile-github.yml
  .config/taskfiles/git/Taskfile-gitlab.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/log
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  environments/prod/group_vars/all/heroku.yml
  local/package-lock.json
  local/yarn.lock
  package.json
  pnpm-lock.yaml
  scripts/quickstart.ps1
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/image/Taskfile.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/log
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

Update roles/system/dns/vars/main.yml, roles/system/dns/tasks/install-Linux.yml, roles/system/dns/tasks/user-Linux.yml, roles/system/dns/tasks/config-Linux.yml
  roles/system/dns/tasks/config-Linux.yml
  roles/system/dns/tasks/install-Linux.yml
  roles/system/dns/tasks/user-Linux.yml
  roles/system/dns/vars/main.yml
Due: none

Update roles/system/common/tasks/user-Linux.yml, roles/system/common/tasks/setup-Linux.yml
  roles/system/common/tasks/setup-Linux.yml
  roles/system/common/tasks/user-Linux.yml
Due: none

Update roles/system/security/tasks/main.yml
  roles/system/security/tasks/main.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .vscode/tasks.json
  README.md
  Taskfile.yml
  package.json
Due: publish:npm
