Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml

Update roles/system/zsh/tasks/install-Linux.yml
  roles/system/zsh/tasks/install-Linux.yml
Due: none

Update roles/system/zsh/tasks/install-Darwin.yml
  roles/system/zsh/tasks/install-Darwin.yml
Due: none

Update roles/system/zsh/tasks/install-Linux.yml, roles/system/zsh/tasks/install-Darwin.yml
  roles/system/zsh/tasks/install-Darwin.yml
  roles/system/zsh/tasks/install-Linux.yml
Due: none

Update roles/system/zsh/tasks/install-Darwin.yml, roles/system/zsh/tasks/install-Linux.yml
  roles/system/zsh/tasks/install-Darwin.yml
  roles/system/zsh/tasks/install-Linux.yml
Due: none

Update roles/system/zsh/tasks/install-Darwin.yml, roles/system/zsh/tasks/install-Linux.yml, roles/languages/nodejs/vars/Darwin.yml
  roles/languages/nodejs/vars/Darwin.yml
  roles/system/zsh/tasks/install-Darwin.yml
  roles/system/zsh/tasks/install-Linux.yml
Due: none

Update roles/languages/nodejs/tasks/packages.yml
  roles/languages/nodejs/tasks/packages.yml
Due: none

Added Helm clis to software.yml
  environments/prod/group_vars/all/software.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  Taskfile.yml
  package.json
Due: publish:npm

Added documentation to variables in defaults.yml
  environments/dev/group_vars/all/defaults.yml
Due: none

Update roles/languages/asdf/tasks/user-Linux.yml
  roles/languages/asdf/tasks/user-Linux.yml
Due: none

Update roles/languages/asdf/tasks/plugin.yml
  roles/languages/asdf/tasks/plugin.yml
Due: none

Update main.yml
  main.yml
Due: test:molecule:e2e:linux, test:molecule:windows

Update roles/tools/gitstats/tasks/install-Linux.yml
  roles/tools/gitstats/tasks/install-Linux.yml
Due: none

Remove taps
  environments/prod/group_vars/all/software.yml
Due: none

Update roles/system/desktop/tasks/setup-Darwin.yml
  roles/system/desktop/tasks/setup-Darwin.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/cloud/Taskfile.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  Taskfile.yml
  environments/dev/host_vars/workstation/users.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  .config/taskfiles/vagrant/Taskfile-qubes.yml
  Taskfile.yml
  package.json
Due: publish:npm

Change to use the global packages list
  roles/languages/asdf/defaults/main.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-ventoy.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  Taskfile.yml
  package.json
Due: publish:npm
