Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

Latest
  environments/prod/group_vars/all/qubes.yml
  playbooks/DOM0.md
  playbooks/qubes.yml
Due: none

Update scripts/library/qubesos.py, scripts/connection/qubes.py, scripts/qubes.sh, ansible.cfg
  ansible.cfg
  scripts/connection/qubes.py
  scripts/library/qubesos.py
  scripts/qubes.sh
Due: test:molecule:darwin

Update scripts/qubes.sh, ansible.cfg
  ansible.cfg
  scripts/qubes.sh
Due: test:molecule:darwin

Update scripts/qubes.sh, playbooks/qubes.yml
  playbooks/qubes.yml
  scripts/qubes.sh
Due: none

Update scripts/qubes.sh
  scripts/qubes.sh
Due: none

Install cockpit developed plugins
  roles/services/cockpit/tasks/install-Archlinux.yml
  roles/services/cockpit/tasks/install-Debian.yml
  roles/services/cockpit/tasks/install-RedHat.yml
  roles/services/cockpit/tasks/main.yml
Due: none

Update environments/prod/group_vars/all/qubes.yml, playbooks/qubes.yml
  environments/prod/group_vars/all/qubes.yml
  playbooks/qubes.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .config/taskfiles/upstream/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  .github/ISSUE_TEMPLATE/BugReport.yml.liquid
  .github/ISSUE_TEMPLATE/FeatureRequest.yml.liquid
  .github/ISSUE_TEMPLATE/SupportRequest.yml.liquid
  .github/ISSUE_TEMPLATE/config.yml.liquid
  LICENSE.liquid
  README.md
  Taskfile.yml.liquid
  environments/prod/group_vars/all/qubes.yml
  local/package-lock.json
  local/yarn.lock
  package.json
  package.json.liquid
  playbooks/qubes.yml
  pnpm-lock.yaml
  pyproject.toml.liquid
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/common/Taskfile-update.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  README.md
  Taskfile.yml
  collections/ansible-netcommon-3.1.0.tar.gz
  collections/ansible-posix-1.4.0.tar.gz
  collections/ansible-utils-2.6.1.tar.gz
  collections/ansible-windows-1.11.0.tar.gz
  collections/chocolatey-chocolatey-1.3.0.tar.gz
  collections/community-crypto-2.5.0.tar.gz
  collections/community-digitalocean-1.21.0.tar.gz
  collections/community-general-5.4.0.tar.gz
  collections/community-windows-1.11.0.tar.gz
  collections/freeipa-ansible_freeipa-1.8.3.tar.gz
  collections/requirements.yml
  package.json
Due: publish:npm

Update scripts/quickstart.ps1
  scripts/quickstart.ps1
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  README.md
  Taskfile.yml
  package.json
  scripts/quickstart.ps1
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/docs/readme-playbook/dependencies.md
  .config/docs/readme-playbook/quick-start.md
  .config/docs/readme-playbook/supported-os.md
  .config/log
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  README.md
  Taskfile.yml
  package.json
  scripts/quickstart.ps1
  scripts/quickstart.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-cloudflare.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/log
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  README.md
  Taskfile.yml
  package.json
  scripts/quickstart.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-dyno.yml
  .config/taskfiles/cloud/Taskfile-heroku.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/security/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm
