Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml

Upload New File
  roles/tools/fig/logo.png
Due: none

Upload New File
  roles/tools/exiftool/logo.png
Due: none

Upload New File
  roles/tools/nomad/logo.png
Due: none

Upload New File
  roles/tools/nb/logo.png
Due: none

Upload New File
  roles/tools/wkhtmltopdf/logo.png
Due: none

Upload New File
  roles/tools/waypoint/logo.png
Due: none

Upload New File
  roles/tools/wails/logo.png
Due: none

Upload New File
  roles/tools/trec/logo.png
Due: none

Upload New File
  roles/tools/sysdig/logo.png
Due: none

Upload New File
  roles/virtualization/lxdc/logo.png
Due: none

Upload New File
  roles/virtualization/swarm/logo.png
Due: none

Update environments/prod/group_vars/desktop/vscode-extensions.yml
  environments/prod/group_vars/desktop/vscode-extensions.yml
Due: none

Fix netdata-claim in MacOS
  roles/services/netdata/tasks/install-Darwin.yml
Due: none

Fix Vagrant VMware plugin install
  roles/virtualization/vagrant/defaults/main.yml
  roles/virtualization/vmware/tasks/install-Linux.yml
Due: none

☁️ Automation
  README.md
  docs/CONTRIBUTING.md
  package.json
  pyproject.toml
Due: publish:npm, test:molecule:darwin

Update scripts/quickstart.sh
  scripts/quickstart.sh
Due: none

Update scripts/quickstart.sh, environments/prod/inventories/quickstart.yml
  environments/prod/inventories/quickstart.yml
  scripts/quickstart.sh
Due: none

🔧 chore(latest): latest
  main.yml
Due: test:molecule:e2e:linux, test:molecule:windows

🔧 chore(environment): switching back to dev environment symlinks
  files
  group_vars
  host_vars
  inventories
  templates
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-pipx.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/publish/Taskfile.yml
  .gitignore
  Taskfile.yml
  local/cyclonedx-npm-npm.json
  package.json
  pnpm-lock.yaml
  start.sh
Due: publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-pipx.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/publish/Taskfile.yml
  .gitignore
  README.md
  Taskfile.yml
  local/cyclonedx-npm-npm.json
  local/package-lock.json
  local/slim/exe.txt
  local/slim/install.txt
  local/yarn.lock
  package.json
  pnpm-lock.yaml
  pyproject.toml
  scripts/quickstart.sh
  start.sh
Due: publish:npm, test:molecule:darwin

chore(release): version 2.1.0
  docs/CHANGELOG.md
  package.json
Due: publish:npm

🔧 chore(latest): latest
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/common/Taskfile.yml
  .config/taskfiles/install/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-pipx.yml
  .config/taskfiles/install/Taskfile-python.yml
  .config/taskfiles/publish/Taskfile.yml
  .gitignore
  pnpm-lock.yaml
Due: none

🔧 chore(documentation): added comments in documentation-specific syntax
  roles/virtualization/dockerslim/tasks/main.yml
  roles/virtualization/gvisor/tasks/main.yml
  roles/virtualization/kubernetes/tasks/install-Linux.yml
  roles/virtualization/kvm/tasks/main.yml
  roles/virtualization/lxdc/tasks/config-Linux.yml
  roles/virtualization/lxdc/tasks/install-Debian.yml
  roles/virtualization/lxdc/tasks/install-Linux.yml
  roles/virtualization/lxdc/tasks/main.yml
Due: none

Populate Dev Environment with Dummy Data
  environments/dev/files/GoogleAPI/googleassistant-client-secret.json
  environments/dev/files/GoogleAPI/rclone-client_secret.json
  environments/dev/files/ssh/id_rsa
  environments/dev/files/ssh/id_rsa.pub
  environments/dev/files/ssh/id_rsa_local
  environments/dev/files/ssh/id_rsa_local.pub
  environments/dev/files/vpn/OpenVPN.ovpn
  environments/dev/files/vpn/WireGuard.nmconnection
  environments/dev/group_vars/all/helm.yml
  environments/dev/group_vars/all/software.yml
  environments/dev/group_vars/desktop/chrome-extensions.yml
  environments/dev/group_vars/desktop/firefox-addons.yml
  environments/dev/group_vars/desktop/homebrew.yml
  environments/dev/group_vars/desktop/npm-packages.yml
  environments/dev/group_vars/desktop/pip-packages.yml
  environments/dev/group_vars/desktop/ruby-gems.yml
  environments/dev/group_vars/desktop/vars.yml
  environments/dev/group_vars/desktop/vault.yml
  environments/dev/group_vars/desktop/vscode-extensions.yml
  environments/dev/host_vars/debian/vars.yml
  environments/dev/host_vars/malaptop/users.yml
  environments/dev/host_vars/malaptop/vars.yml
  environments/dev/host_vars/malaptop/vault.yml
  environments/dev/host_vars/raspi/users.yml
  environments/dev/host_vars/raspi/vars.yml
  environments/dev/host_vars/raspi/vault.yml
  environments/dev/host_vars/ubuntu/users.yml
  environments/dev/host_vars/ubuntu/vars.yml
  environments/dev/host_vars/ubuntu/vault.yml
  environments/dev/host_vars/workstation/users.yml
  environments/dev/host_vars/workstation/vault.yml
  roles/tools/wails/templates/wails.json.j2
  roles/virtualization/docker/files/convoy.spec
Due: none

Forced update of .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update environments/prod/group_vars/desktop/npm-packages.yml
  environments/prod/group_vars/desktop/npm-packages.yml
Due: none

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/go/Taskfile.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/publish/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  Taskfile.yml
  package.json
  start.sh
Due: publish:npm

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/docs/readme-playbook/quick-start.md
  .config/hadolint.yml
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  .gitlab-ci.yml
  .vscode/settings.json
  README.md
  Taskfile.yml
  environments/dev/files/GoogleAPI/googleassistant-client-secret.json
  environments/dev/files/GoogleAPI/rclone-client_secret.json
  environments/dev/host_vars/debian/users.yml
  environments/dev/host_vars/debian/vault.yml
  environments/dev/host_vars/malaptop/users.yml
  environments/dev/host_vars/malaptop/vault.yml
  environments/dev/host_vars/raspi/users.yml
  environments/dev/host_vars/raspi/vault.yml
  environments/dev/host_vars/ubuntu/users.yml
  environments/dev/host_vars/ubuntu/vault.yml
  environments/dev/host_vars/workstation/users.yml
  environments/dev/host_vars/workstation/vault.yml
  local/package-lock.json
  package.json
  pyproject.toml
  scripts/quickstart-post-reboot.sh
  scripts/quickstart.sh
Due: publish:npm, test:molecule:darwin

⤵️ automation(synchronize) Applying changes from upstream repository.
  .config/taskfiles/npm/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm
