Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

publish:npm:
  artifacts:
    paths:
    - build/docs
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  - git config user.name "$GITLAB_CI_NAME"
  ...

test:molecule:e2e:linux:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:windows:
  stage: test
  tags:
  - shared-windows
  - windows
  - windows-1809
  allow_failure: true
  variables:
    GIT_DEPTH: 1
  script:
  - set -eo pipefail

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    OPTIMIZED_IMAGE: 'false'
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  Taskfile.yml
  package.json
Due: publish:npm

Update scripts/quickstart.sh Deleted local/slim/exe.txt, local/slim/install.txt
  local/slim/exe.txt
  local/slim/install.txt
  scripts/quickstart.sh
Due: none

Update main.yml
  main.yml
Due: test:molecule:e2e:linux, test:molecule:windows

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/git/Taskfile-github.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  Taskfile.yml
  package.json
  start.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  Taskfile.yml
  package.json
  scripts/quickstart.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/cloud/Taskfile-s3.yml
  .config/taskfiles/git/Taskfile-bug.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile.yml
  .config/taskfiles/lint/Taskfile.yml
  .config/taskfiles/security/Taskfile-disk.yml
  .config/taskfiles/security/Taskfile-gpg.yml
  .config/taskfiles/security/Taskfile-yubikey.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  Taskfile.yml
  package.json
Due: publish:npm

Update roles/applications/androidstudio/meta/main.yml
  roles/applications/androidstudio/meta/main.yml
Due: none

Update roles/applications/chrome/meta/main.yml
  roles/applications/chrome/meta/main.yml
Due: none

Update roles/applications/autokey/meta/main.yml
  roles/applications/autokey/meta/main.yml
Due: none

Update roles/applications/etcher/meta/main.yml
  roles/applications/etcher/meta/main.yml
Due: none

Update roles/applications/gitkraken/meta/main.yml
  roles/applications/gitkraken/meta/main.yml
Due: none

Update roles/applications/gimp/meta/main.yml
  roles/applications/gimp/meta/main.yml
Due: none

Update roles/applications/inkscape/meta/main.yml
  roles/applications/inkscape/meta/main.yml
Due: none

Update roles/applications/firefox/meta/main.yml
  roles/applications/firefox/meta/main.yml
Due: none

Update roles/applications/hyper/meta/main.yml
  roles/applications/hyper/meta/main.yml
Due: none

Update roles/applications/filezilla/meta/main.yml
  roles/applications/filezilla/meta/main.yml
Due: none

Update roles/applications/keybase/meta/main.yml
  roles/applications/keybase/meta/main.yml
Due: none

Update roles/applications/iterm2/meta/main.yml
  roles/applications/iterm2/meta/main.yml
Due: none

Update roles/applications/mailspring/meta/main.yml
  roles/applications/mailspring/meta/main.yml
Due: none

Update roles/applications/intellij/meta/main.yml
  roles/applications/intellij/meta/main.yml
Due: none

Update roles/applications/onionshare/meta/main.yml
  roles/applications/onionshare/meta/main.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

Update roles/applications/lens/meta/main.yml
  roles/applications/lens/meta/main.yml
Due: none

Update roles/applications/lollypop/meta/main.yml
  roles/applications/lollypop/meta/main.yml
Due: none

Update roles/applications/kodi/meta/main.yml
  roles/applications/kodi/meta/main.yml
Due: none

Update roles/applications/office/meta/main.yml
  roles/applications/office/meta/main.yml
Due: none

Update roles/applications/proton/meta/main.yml
  roles/applications/proton/meta/main.yml
Due: none

Update roles/applications/microsoftedge/meta/main.yml
  roles/applications/microsoftedge/meta/main.yml
Due: none

Update roles/applications/postman/meta/main.yml
  roles/applications/postman/meta/main.yml
Due: none

Update roles/applications/plex/meta/main.yml
  roles/applications/plex/meta/main.yml
Due: none

Update roles/applications/microsofttodo/meta/main.yml
  roles/applications/microsofttodo/meta/main.yml
Due: none

Update roles/applications/qbittorrent/meta/main.yml
  roles/applications/qbittorrent/meta/main.yml
Due: none

Update roles/applications/raspberryimager/meta/main.yml
  roles/applications/raspberryimager/meta/main.yml
Due: none

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml
