Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml

☁️ chore(automation): Applying changes from upstream repository.
  .config/log
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/release/Taskfile.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

Update environments/prod/inventories/quickstart.yml, roles/misc/qubes/tasks/dispvm.yml, roles/misc/qubes/defaults/main.yml, roles/misc/qubes/tasks/create-vms.yml
  environments/prod/inventories/quickstart.yml
  roles/misc/qubes/defaults/main.yml
  roles/misc/qubes/tasks/create-vms.yml
  roles/misc/qubes/tasks/dispvm.yml
Due: none

Update environments/prod/inventories/quickstart.yml
  environments/prod/inventories/quickstart.yml
Due: none

Update roles/misc/qubes/tasks/dispvm.yml
  roles/misc/qubes/tasks/dispvm.yml
Due: none

Update environments/prod/group_vars/qubes/roles.yml
  environments/prod/group_vars/qubes/roles.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/install/Taskfile-npm.yml
  .config/taskfiles/release/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/husky/prepare-commit-msg
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/release/Taskfile.yml
  README.md
  Taskfile.yml
  local/package-lock.json
  package.json
  pnpm-lock.yaml
Due: publish:npm

Latest
  roles/system/dotfiles/.config/taskfiles/git/Taskfile.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ Automation
  roles/system/dotfiles/.config/taskfiles/git/Taskfile.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/git/Taskfile.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  README.md
  Taskfile.yml
  package.json
  playbooks/qubes.yml
  tasks/qubes/_gui-vm.yml
  tasks/qubes/gsetting.yml
  tasks/qubes/remove-shortcut.yml
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

latest
  .config/dockerignore
  .config/molecule/docker.create.yml
  .config/molecule/docker.destroy.yml
  .config/molecule/gce.create.yml
  .config/molecule/gce.destroy.yml
  .config/molecule/handlers/main.yml
  .config/molecule/tasks/create_linux_instance.yml
  .config/molecule/tasks/create_windows_instance.yml
  .config/molecule/vagrant.create.yml
  .config/molecule/vagrant.destroy.yml
  .config/taskfiles/git/Taskfile.yml
  .config/variables.json
  .github/ISSUE_TEMPLATE/BugReport.yml
  .github/ISSUE_TEMPLATE/FeatureRequest.yml
  .github/ISSUE_TEMPLATE/SupportRequest.yml
  .github/ISSUE_TEMPLATE/config.yml
  Taskfile.yml
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: publish:npm, test:molecule:darwin

Latest
  .config/dockerignore
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  README.md
  Taskfile.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/molecule/docker.create.yml
  .config/molecule/docker.destroy.yml
  .config/molecule/gce.create.yml
  .config/molecule/gce.destroy.yml
  .config/molecule/handlers/main.yml
  .config/molecule/tasks/create_linux_instance.yml
  .config/molecule/tasks/create_windows_instance.yml
  .config/molecule/vagrant.create.yml
  .config/molecule/vagrant.destroy.yml
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  .config/variables.json
  .github/ISSUE_TEMPLATE/BugReport.yml
  .github/ISSUE_TEMPLATE/FeatureRequest.yml
  .github/ISSUE_TEMPLATE/SupportRequest.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  Taskfile.yml
  collections/requirements.yml
  local/package-lock.json
  local/yarn.lock
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  package.json
  pyproject.toml
Due: publish:npm, test:molecule:darwin

Latest
  roles/system/dotfiles/.config/common-keywords.json
  roles/system/dotfiles/.config/dockerignore
  roles/system/dotfiles/.config/taskfiles/ansible/Taskfile-playbook.yml
  roles/system/dotfiles/.config/variables.json
  roles/system/dotfiles/.devcontainer/Dockerfile
  roles/system/dotfiles/.devcontainer/devcontainer.json
  roles/system/dotfiles/.github/ISSUE_TEMPLATE/BugReport.yml
  roles/system/dotfiles/.github/ISSUE_TEMPLATE/FeatureRequest.yml
  roles/system/dotfiles/.github/ISSUE_TEMPLATE/SupportRequest.yml
  roles/system/dotfiles/.github/ISSUE_TEMPLATE/config.yml
  roles/system/dotfiles/.github/workflows/Windows.yml
  roles/system/dotfiles/.gitignore
  roles/system/dotfiles/.gitlab-ci.yml
  roles/system/dotfiles/.travis.yml
  roles/system/dotfiles/.vscode/extensions.json
  roles/system/dotfiles/.vscode/settings.json
  roles/system/dotfiles/.vscode/tasks.json
  roles/system/dotfiles/LICENSE
  roles/system/dotfiles/Taskfile.yml
  roles/system/dotfiles/docs/CODEOWNERS
  roles/system/dotfiles/docs/CODE_OF_CONDUCT.md
  roles/system/dotfiles/docs/ECOSYSTEM.md
  roles/system/dotfiles/molecule/.results/logs/.gitkeep
  roles/system/dotfiles/molecule/converge.yml
  roles/system/dotfiles/molecule/default/molecule.yml
  roles/system/dotfiles/molecule/desktop/molecule.yml
  roles/system/dotfiles/molecule/docker/molecule.yml
  roles/system/dotfiles/molecule/local/molecule.yml
  roles/system/dotfiles/package.json
  roles/system/dotfiles/pnpm-lock.yaml
  roles/system/dotfiles/pyproject.toml
Due: none

latest
  roles/system/dotfiles/meta/main.yml
Due: none

Latest
  environments/prod/inventories/quickstart.yml
  playbooks/qubes.yml
  roles/misc/qubes/handlers/main.yml
  roles/system/dotfiles/.config/dockerignore
  roles/system/dotfiles/.config/taskfiles/ci/Taskfile-github.yml
  roles/system/dotfiles/.config/taskfiles/git/Taskfile.yml
  roles/system/dotfiles/.config/variables.json
  roles/system/dotfiles/.github/ISSUE_TEMPLATE/BugReport.yml
  roles/system/dotfiles/.github/ISSUE_TEMPLATE/FeatureRequest.yml
  roles/system/dotfiles/.github/ISSUE_TEMPLATE/SupportRequest.yml
  roles/system/dotfiles/.github/ISSUE_TEMPLATE/config.yml
  roles/system/dotfiles/README.md
  roles/system/dotfiles/Taskfile.yml
  roles/system/dotfiles/docs/CONTRIBUTING.md
  roles/system/dotfiles/docs/partials/guide.md
  roles/system/dotfiles/local/package-lock.json
  roles/system/dotfiles/local/requirements.txt
  roles/system/dotfiles/local/yarn.lock
  roles/system/dotfiles/meta/main.yml
  roles/system/dotfiles/molecule/converge.yml
  roles/system/dotfiles/molecule/default/molecule.yml
  roles/system/dotfiles/molecule/desktop/molecule.yml
  roles/system/dotfiles/molecule/docker/molecule.yml
  roles/system/dotfiles/molecule/local/molecule.yml
  roles/system/dotfiles/package.json
  roles/system/dotfiles/poetry.lock
  roles/system/dotfiles/requirements.yml
  roles/system/dotfiles/tasks/main.yml
  roles/system/dotfiles/tasks/user-Linux.yml
  roles/system/dotfiles/tasks/user-Windows.yml
  roles/system/dotfiles/tasks/user-continue.yml
  roles/system/dotfiles/vars/Windows.yml
  tasks/qubes/_gui-vm.yml
  tasks/qubes/custom-template-vm.yml
Due: none

Latest
  .config/molecule/docker.create.yml
  .config/molecule/docker.destroy.yml
  .config/molecule/gce.create.yml
  .config/molecule/gce.destroy.yml
  .config/molecule/handlers/main.yml
  .config/molecule/tasks/create_linux_instance.yml
  .config/molecule/tasks/create_windows_instance.yml
  .config/molecule/vagrant.create.yml
  .config/molecule/vagrant.destroy.yml
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  .config/variables.json
  .github/ISSUE_TEMPLATE/BugReport.yml
  .github/ISSUE_TEMPLATE/FeatureRequest.yml
  .github/ISSUE_TEMPLATE/SupportRequest.yml
  .github/ISSUE_TEMPLATE/config.yml
  Taskfile.yml
  collections/requirements.yml
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  package.json
  pyproject.toml
  roles/misc/qubes/tasks/mirage.yml
Due: publish:npm, test:molecule:darwin

git subrepo init --remote=git@gitlab.com:megabyte-labs/ansible-roles/dotfiles.git --branch=master roles/system/dotfiles
  roles/system/dotfiles/.gitrepo
Due: none

git subrepo init --remote=git@gitlab.com:megabyte-labs/ansible-roles/theme.git --branch=master roles/system/theme
  roles/system/theme/.gitrepo
Due: none

Update playbooks/qubes.yml
  playbooks/qubes.yml
Due: none

Update roles/misc/qubes/tasks/update.yml
  roles/misc/qubes/tasks/update.yml
Due: none

Update roles/system/theme/tasks/kde/sddm.yml, roles/system/theme/defaults/main.yml, roles/system/theme/tasks/kde/user.yml, roles/system/theme/tasks/kde/system.yml
  roles/system/theme/defaults/main.yml
  roles/system/theme/tasks/kde/sddm.yml
  roles/system/theme/tasks/kde/system.yml
  roles/system/theme/tasks/kde/user.yml
Due: none

Latest
  environments/prod/inventories/quickstart.yml
  playbooks/qubes.yml
  roles/system/common/defaults/main.yml
  roles/system/common/tasks/linux/grub.yml
  roles/system/common/tasks/linux/plymouth-Archlinux.yml
  roles/system/common/tasks/linux/plymouth.yml
  roles/system/common/tasks/setup-Linux.yml
  roles/system/common/vars/Archlinux.yml
  roles/system/common/vars/Debian.yml
  roles/system/common/vars/RedHat.yml
  roles/system/theme/defaults/main.yml
  roles/system/theme/tasks/install-Linux.yml
  roles/system/theme/tasks/misc/grub.yml
  roles/system/theme/tasks/misc/plymouth.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/docker/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/docs/readme-playbook/quick-start.md
  .config/molecule/docker.create.yml
  .config/molecule/docker.destroy.yml
  .config/molecule/gce.create.yml
  .config/molecule/gce.destroy.yml
  .config/molecule/handlers/main.yml
  .config/molecule/tasks/create_linux_instance.yml
  .config/molecule/tasks/create_windows_instance.yml
  .config/molecule/vagrant.create.yml
  .config/molecule/vagrant.destroy.yml
  .config/taskfiles/ci/Taskfile-github.yml
  .config/taskfiles/docker/Taskfile-update.yml
  .config/taskfiles/git/Taskfile.yml
  .config/taskfiles/release/Taskfile.yml
  .config/variables.json
  .github/ISSUE_TEMPLATE/BugReport.yml
  .github/ISSUE_TEMPLATE/FeatureRequest.yml
  .github/ISSUE_TEMPLATE/SupportRequest.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  Taskfile.yml
  collections/requirements.yml
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  package.json
  pyproject.toml
Due: publish:npm, test:molecule:darwin
