Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

publish:npm:
  artifacts:
    paths:
    - build/docs
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  - git config user.name "$GITLAB_CI_NAME"
  ...

test:molecule:e2e:linux:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:windows:
  stage: test
  tags:
  - shared-windows
  - windows
  - windows-1809
  allow_failure: true
  variables:
    GIT_DEPTH: 1
  script:
  - set -eo pipefail

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    OPTIMIZED_IMAGE: 'false'
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

Update roles/virtualization/swarm/tasks/randomized-passwords.yml
  roles/virtualization/swarm/tasks/randomized-passwords.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  Taskfile.yml
  package.json
Due: publish:npm

Update roles/services/goofys/tasks/install-Darwin.yml
  roles/services/goofys/tasks/install-Darwin.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/publish/Taskfile.yml
  Taskfile.yml
  package.json
Due: publish:npm

Update roles/helpers/installer/tasks/install-Darwin.yml
  roles/helpers/installer/tasks/install-Darwin.yml
Due: none

Update roles/languages/go/tasks/user-Linux.yml, roles/languages/go/tasks/user-Windows.yml
  roles/languages/go/tasks/user-Linux.yml
  roles/languages/go/tasks/user-Windows.yml
Due: none

Update roles/tools/autojump/tasks/install-Archlinux.yml
  roles/tools/autojump/tasks/install-Archlinux.yml
Due: none

Update roles/system/theme/vars/main.yml
  roles/system/theme/vars/main.yml
Due: none

Update roles/system/ssh/tasks/main.yml, roles/system/connect/tasks/main.yml, ansible.cfg
  ansible.cfg
  roles/system/connect/tasks/main.yml
  roles/system/ssh/tasks/main.yml
Due: test:molecule:darwin

Update roles/misc/qubes/defaults/main.yml, roles/system/theme/vars/main.yml
  roles/misc/qubes/defaults/main.yml
  roles/system/theme/vars/main.yml
Due: none

Update tasks/qubes/vm-template-stock.yml
  tasks/qubes/vm-template-stock.yml
Due: none

Update scripts/qubes.sh, roles/misc/qubes/tasks/update.yml
  roles/misc/qubes/tasks/update.yml
  scripts/qubes.sh
Due: none

Update ansible.cfg
  ansible.cfg
Due: test:molecule:darwin

Update roles/misc/qubes/tasks/update.yml
  roles/misc/qubes/tasks/update.yml
Due: none

Update roles/system/connect/tasks/main.yml
  roles/system/connect/tasks/main.yml
Due: none

Latest
  poetry.lock
  pyproject.toml
Due: test:molecule:darwin

Update roles/system/theme/tasks/misc/gsetting.yml
  roles/system/theme/tasks/misc/gsetting.yml
Due: none

latest
  poetry.lock
  pyproject.toml
Due: test:molecule:darwin

Update environments/prod/inventories/quickstart.yml, tasks/qubes/vm-template-stock.yml, roles/system/snapd/tasks/install-Archlinux.yml, roles/system/snapd/vars/Archlinux.yml
  environments/prod/inventories/quickstart.yml
  roles/system/snapd/tasks/install-Archlinux.yml
  roles/system/snapd/vars/Archlinux.yml
  tasks/qubes/vm-template-stock.yml
Due: none

Update roles/system/ssh/tasks/main.yml
  roles/system/ssh/tasks/main.yml
Due: none

Update environments/prod/inventories/quickstart.yml, roles/system/theme/tasks/install-Linux.yml, roles/system/theme/defaults/main.yml
  environments/prod/inventories/quickstart.yml
  roles/system/theme/defaults/main.yml
  roles/system/theme/tasks/install-Linux.yml
Due: none

Update roles/system/snapd/tasks/install-Archlinux.yml, roles/system/snapd/tasks/install-RedHat.yml
  roles/system/snapd/tasks/install-Archlinux.yml
  roles/system/snapd/tasks/install-RedHat.yml
Due: none

Update roles/system/ssh/tasks/main.yml, roles/system/ssh/tasks/install-Linux.yml, roles/system/ssh/tasks/install-Windows.yml
  roles/system/ssh/tasks/install-Linux.yml
  roles/system/ssh/tasks/install-Windows.yml
  roles/system/ssh/tasks/main.yml
Due: none

Update environments/prod/group_vars/all/software.yml
  environments/prod/group_vars/all/software.yml
Due: none

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml
