Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

publish:npm:
  artifacts:
    paths:
    - build/docs
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  - git config user.name "$GITLAB_CI_NAME"
  ...

test:molecule:e2e:linux:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:windows:
  stage: test
  tags:
  - shared-windows
  - windows
  - windows-1809
  allow_failure: true
  variables:
    GIT_DEPTH: 1
  script:
  - set -eo pipefail

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    OPTIMIZED_IMAGE: 'false'
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

chore: 🤖 Latest
  ansible.cfg
  environments/prod/host_vars/workstation/vault.yml
  environments/prod/inventories/workstation.yml
  roles/system/ssh/tasks/install-Linux.yml
  scripts/quickstart.ps1
Due: test:molecule:darwin

chore: 🤖 Latest
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  pnpm-lock.yaml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  environments/prod/inventories/workstation.yml
  package.json
  pnpm-lock.yaml
  scripts/enable-winrm.ps1
  scripts/quickstart-post-reboot.sh
  scripts/quickstart.ps1
  scripts/quickstart.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  local/package-lock.json
  local/yarn.lock
  package.json
  pnpm-lock.yaml
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  local/package-lock.json
  package.json
  pnpm-lock.yaml
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-software.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  package.json
  scripts/quickstart.ps1
Due: publish:npm

Update roles/tools/autorestic/templates/.autorestic.yml.j2, roles/tools/autorestic/templates/.autorestic-docker.yml.j2
  roles/tools/autorestic/templates/.autorestic-docker.yml.j2
Due: none

Update roles/virtualization/swarm/templates/nginx.docker-stack.yml, roles/virtualization/swarm/templates/wireguard.docker-stack.yml, roles/virtualization/swarm/defaults/main.yml
  roles/virtualization/swarm/defaults/main.yml
  roles/virtualization/swarm/templates/nginx.docker-stack.yml
  roles/virtualization/swarm/templates/wireguard.docker-stack.yml
Due: none

chore: 🤖 latest
  environments/prod/group_vars/all/vault.yml
Due: none

Update environments/prod/group_vars/all/vault.yml
  environments/prod/group_vars/all/vault.yml
Due: none

Update roles/misc/hosthomepage/meta/main.yml
  roles/misc/hosthomepage/meta/main.yml
Due: none

chore: 🤖 latest
  README.md
  environments/prod/group_vars/windows/vault.yml
Due: none

chore: 🤖 latest
  environments/prod/group_vars/all/keys.vault.yml
Due: none

Tested the software list against the installer role and fixed issues
  environments/dev/group_vars/all/software.yml
  environments/dev/group_vars/desktop/vars.yml
  environments/prod/group_vars/all/software.yml
  environments/prod/group_vars/desktop/vars.yml
  main.yml
  roles/helpers/installer/meta/main.yml
  roles/helpers/installer/tasks/continue.yml
  roles/helpers/installer/tasks/install-Archlinux.yml
  roles/helpers/installer/tasks/install-Darwin.yml
  roles/helpers/installer/tasks/install-Debian.yml
  roles/helpers/installer/tasks/install-RedHat.yml
  roles/helpers/installer/tasks/install-Windows.yml
  roles/helpers/installer/tasks/setup-Archlinux.yml
  roles/helpers/installer/tasks/setup-Darwin.yml
  roles/helpers/installer/tasks/setup-Debian.yml
  roles/helpers/installer/tasks/setup-RedHat.yml
  roles/helpers/installer/tasks/setup-Windows.yml
  roles/helpers/installer/vars/Archlinux.yml
  roles/helpers/installer/vars/Debian.yml
  roles/helpers/installer/vars/RedHat.yml
Due: test:molecule:e2e:linux, test:molecule:windows

Packager
  scripts/packager/packager.sh
  scripts/packager/software.yml
Due: none

New software added to software.yml
  environments/prod/group_vars/all/software.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/common/Taskfile-start.yml
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-pipx.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  package.json
  start.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  environments/dev/group_vars/desktop/vars.yml
  environments/prod/group_vars/desktop/vars.yml
  environments/prod/host_vars/workstation/users.yml
  local/package-lock.json
  local/yarn.lock
  package.json
  pnpm-lock.yaml
  scripts/packager/software.yml
  scripts/quickstart.ps1
  scripts/quickstart.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  package.json
  start.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .gitignore
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-gh.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile-ventoy.yml
  Taskfile.yml
  package.json
Due: publish:npm

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml
