Repository megabyte-labs/Gas-Station: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish:npm, test:molecule:e2e:linux, test:molecule:windows, test:molecule:darwin

publish:npm:
  artifacts:
    paths:
    - build/docs
  before_script:
  - git config pull.ff only
  - git remote set-url origin "https://root:$GROUP_ACCESS_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
  - git config user.email "$GITLAB_CI_EMAIL"
  - git config user.name "$GITLAB_CI_NAME"
  ...

test:molecule:e2e:linux:
  stage: test
  image:
    name: megabytelabs/molecule:slim
    entrypoint:
    - ''
  services:
  - docker:20.10.7-dind
  parallel:
    matrix:
    - OPERATING_SYSTEM: debian
    - OPERATING_SYSTEM: ubuntu
  variables:
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    DOCKER_HOST: tcp://docker:2376
  ...

test:molecule:windows:
  stage: test
  tags:
  - shared-windows
  - windows
  - windows-1809
  allow_failure: true
  variables:
    GIT_DEPTH: 1
  script:
  - set -eo pipefail

test:molecule:darwin:
  stage: test
  image: macos-11-xcode-12
  needs: []
  variables:
    OPTIMIZED_IMAGE: 'false'
  tags:
  - shared-macos-amd64
  script:
  - "if [[ \"$CI_COMMIT_BRANCH\" == 'test/darwin' ]]; then\n  git pull origin master\n  git push origin \"$CI_COMMIT_BRANCH\"\nfi\n"
  ...

Update environments/prod/group_vars/all/general.yml, roles/system/security/defaults/main.yml, roles/system/firewall/vars/main.yml, environments/prod/group_vars/all/apps.yml
  environments/prod/group_vars/all/apps.yml
  environments/prod/group_vars/all/general.yml
  roles/system/firewall/vars/main.yml
  roles/system/security/defaults/main.yml
Due: none

Update environments/prod/group_vars/all/apps.yml, roles/system/firewall/vars/main.yml
  environments/prod/group_vars/all/apps.yml
  roles/system/firewall/vars/main.yml
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  README.md
  Taskfile.yml
  package.json
  scripts/quickstart.ps1
  scripts/quickstart.sh
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  Taskfile.yml
  package.json
  pyproject.toml
Due: publish:npm, test:molecule:darwin

Update roles/system/prepare/tasks/main.yml, scripts/quickstart.ps1 Deleted scripts/quickstart-post-reboot.ps1
  roles/system/prepare/tasks/main.yml
  scripts/quickstart-post-reboot.ps1
  scripts/quickstart.ps1
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  package.json
  scripts/quickstart.ps1
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  README.md
  Taskfile.yml
  environments/dev/group_vars/all/vault.yml
  environments/prod/group_vars/all/vault.yml
  environments/prod/group_vars/desktop/vault.yml
  environments/prod/host_vars/malaptop/vault.yml
  package.json
Due: publish:npm

test: 💍 Latest
  .config/dockerignore
  .config/taskfiles/ansible/Taskfile-playbook.yml
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/variables.json
  .github/ISSUE_TEMPLATE/BugReport.yml
  .github/ISSUE_TEMPLATE/FeatureRequest.yml
  .github/ISSUE_TEMPLATE/SupportRequest.yml
  .github/ISSUE_TEMPLATE/config.yml
  Taskfile.yml
  environments/prod/templates/templates
  files
  group_vars
  host_vars
  inventories
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  package.json
  pnpm-lock.yaml
  pyproject.toml
  shared-master/.config/Brewfile
  shared-master/.config/codeclimate.yml
  shared-master/.config/commitlintrc.cjs
  shared-master/.config/common-keywords.json
  shared-master/.config/cspell.json
  shared-master/.config/dockerignore
  shared-master/.config/flake8.toml
  shared-master/.config/hadolint.yml
  shared-master/.config/hbs.cjs
  shared-master/.config/husky/.gitignore
  shared-master/.config/husky/commit-msg
  shared-master/.config/husky/post-checkout
  shared-master/.config/husky/post-commit
  shared-master/.config/husky/post-merge
  shared-master/.config/husky/post-rewrite
  shared-master/.config/husky/pre-commit
  shared-master/.config/husky/pre-push
  templates
Due: publish:npm, test:molecule:darwin

chore: 🤖 Latest
  shared-master/.config/Brewfile
  shared-master/.config/codeclimate.yml
  shared-master/.config/commitlintrc.cjs
  shared-master/.config/common-keywords.json
  shared-master/.config/cspell.json
  shared-master/.config/dockerignore
  shared-master/.config/flake8.toml
  shared-master/.config/hadolint.yml
  shared-master/.config/hbs.cjs
  shared-master/.config/husky/.gitignore
  shared-master/.config/husky/commit-msg
  shared-master/.config/husky/post-checkout
  shared-master/.config/husky/post-commit
  shared-master/.config/husky/post-merge
  shared-master/.config/husky/post-rewrite
  shared-master/.config/husky/pre-commit
  shared-master/.config/husky/pre-push
Due: none

☁️ chore(automation): Applying changes from upstream repository.
  Taskfile.yml
  package.json
Due: publish:npm

☁️ chore(automation): Applying changes from upstream repository.
  .config/dockerignore
  .config/taskfiles/install/Taskfile-requirements.yml
  .config/taskfiles/install/Taskfile-software.yml
  .config/variables.json
  .github/ISSUE_TEMPLATE/BugReport.yml
  .github/ISSUE_TEMPLATE/FeatureRequest.yml
  .github/ISSUE_TEMPLATE/SupportRequest.yml
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  Taskfile.yml
  local/package-lock.json
  local/yarn.lock
  molecule/default/molecule.yml
  molecule/desktop/molecule.yml
  molecule/docker/molecule.yml
  molecule/local/molecule.yml
  package.json
  pnpm-lock.yaml
  pyproject.toml
Due: publish:npm, test:molecule:darwin

chore: 🤖 latest
  poetry.lock
  pyproject.toml
Due: test:molecule:darwin

chore: 🤖 latest
  environments/dev/inventories/local.yml
  environments/prod/inventories/malaptop.yml
  environments/prod/inventories/nuc.yml
  environments/prod/inventories/pfsense.yml
  environments/prod/inventories/pihole.yml
  environments/prod/inventories/raspi.yml
  environments/prod/inventories/raspiboot.yml
  environments/prod/inventories/raspiproxy.yml
  environments/prod/inventories/statuscheck.yml
  playbooks/init.yml
  roles/services/cloudflare/tasks/a-record.yml
  roles/services/nginx/tasks/site-available.yml
  roles/system/connect/tasks/main.yml
  roles/system/firewall/tasks/setup-Windows.yml
  roles/system/firewall/tasks/ufw.yml
  roles/system/hosts/tasks/setup-Linux.yml
  roles/system/hosts/tasks/setup-Windows.yml
Due: none

chore: 🤖 Re-encrypting sekrets
  environments/dev/group_vars/all/apps.yml
  environments/dev/group_vars/all/general.yml
  environments/dev/group_vars/all/vault.yml
  environments/prod/group_vars/all/apps.yml
  environments/prod/group_vars/all/general.yml
  environments/prod/group_vars/all/vault.yml
  environments/prod/group_vars/desktop/vault.yml
  environments/prod/group_vars/server/vault.yml
  environments/prod/group_vars/windows/vault.yml
  environments/prod/host_vars/malaptop/vault.yml
  environments/prod/host_vars/nuc/vault.yml
  environments/prod/host_vars/pihole/vault.yml
  environments/prod/host_vars/raspi/vault.yml
  environments/prod/host_vars/raspiboot/vault.yml
  environments/prod/host_vars/raspiproxy/vault.yml
  environments/prod/host_vars/statuscheck/vault.yml
  environments/prod/host_vars/workstation-ubuntu-wsl/vars.yml
  environments/prod/host_vars/workstation-ubuntu-wsl/vault.schema.json
  environments/prod/host_vars/workstation-ubuntu-wsl/vault.yml
  environments/prod/host_vars/workstation/vault.yml
  environments/prod/host_vars/wsl/vault.yml
  environments/prod/inventories/workstation-windows.yml
  roles/system/common/tasks/setup-Linux.yml
  roles/system/connect/tasks/main.yml
  roles/system/firewall/tasks/setup-Archlinux.yml
  roles/system/firewall/tasks/setup-Darwin.yml
  roles/system/firewall/tasks/setup-Debian.yml
  roles/system/firewall/tasks/setup-RedHat.yml
  roles/system/firewall/tasks/setup-Windows.yml
  roles/system/firewall/tasks/ufw.yml
  roles/virtualization/docker/tasks/main.yml
Due: none

chore: 🤖 latest
  environments/prod/host_vars/workstation/vars.yml
  environments/prod/inventories/workstation-windows.yml
  environments/prod/inventories/workstation.yml
Due: none

Update scripts/quickstart.ps1, scripts/quickstart.sh, scripts/enable-winrm.ps1
  scripts/enable-winrm.ps1
  scripts/quickstart.ps1
  scripts/quickstart.sh
Due: none

Update scripts/quickstart.ps1
  scripts/quickstart.ps1
Due: none

chore: 🤖 Latest
  playbooks/init.yml
  roles/helpers/reboot/tasks/local-Linux.yml
  roles/system/common/tasks/setup-Linux.yml
  roles/system/firewall/tasks/setup-Archlinux.yml
  roles/system/firewall/tasks/setup-Debian.yml
  roles/system/firewall/tasks/setup-RedHat.yml
  roles/virtualization/docker/tasks/main.yml
  scripts/quickstart-post-reboot.sh
  scripts/quickstart.ps1
Due: none

Update scripts/quickstart.ps1, .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/ansible/Taskfile.yml
  scripts/quickstart.ps1
Due: none

Update .config/taskfiles/ansible/Taskfile.yml
  .config/taskfiles/ansible/Taskfile.yml
Due: none

chore: 🤖 Latest
  environments/dev/group_vars/all/apps.yml
  environments/dev/inventories/local.yml
  environments/dev/templates/appium.config.j2
  environments/prod/group_vars/all/apps.yml
  environments/prod/group_vars/all/software.yml
  environments/prod/group_vars/all/vault.yml
  environments/prod/host_vars/malaptop/vars.yml
  environments/prod/host_vars/pihole/vars.yml
  environments/prod/inventories/malaptop.yml
  environments/prod/inventories/nuc.yml
  environments/prod/inventories/pfsense.yml
  environments/prod/inventories/pihole.yml
  environments/prod/inventories/raspi.yml
  environments/prod/inventories/raspiboot.yml
  environments/prod/inventories/raspiproxy.yml
  environments/prod/inventories/statuscheck.yml
  requirements.yml
  roles/services/nginx/defaults/main.yml
  roles/services/nginx/tasks/install-Linux.yml
  roles/services/nginx/tasks/site-available.yml
  roles/system/connect/tasks/main.yml
  roles/system/glusterfs/tasks/master.yml
  roles/system/hosts/tasks/setup-Linux.yml
  roles/system/prepare/tasks/main.yml
  roles/system/ssh/templates/config.j2
  roles/virtualization/lxdc/templates/lxd-preseed.j2
Due: test:molecule:darwin

Update .config/taskfiles/install/Taskfile-software.yml
  .config/taskfiles/install/Taskfile-software.yml
Due: none

Path conditions:
  publish:npm: any of: {src,bin}/**/*.{js,ts,json}, package.json, tsconfig.json, tsconfig.module.json
  test:molecule:e2e:linux: any of: main.yml
  test:molecule:windows: any of: main.yml
  test:molecule:darwin: any of: {defaults,files,handlers,meta,molecule,tasks,templates,vars}/**, ansible.cfg, poetry.lock, pyproject.toml, requirements.yml
